@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Party Business";
  src: url("../fonts/party_business/partybusiness.ttf");
}

.selected {
  border-radius: 10% / 20%;
}
